.sprite::after {
  background-image: url(../img/spritesheet.png);
}

/* color */

.dark-blue {
  color: #013056;
}
.middle-blue {
  color: #1b7fd0;
}
.light-blue {
  color: #caddea;
}
.red {
  color: #dd0000;
}
